body {
  background-color: yellow;
}

.hny {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  background-color: royalblue;
  width: 500px;
  height: 150px;
}
#parent {
  position: relative;
}
#child {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 50%;
  height: 30%;
  margin: auto;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
