body {
  background-color: greenyellow;
}
.title-1 {
  color: crimson;
  font-family: 'Pacifico', cursive;
}
.blok-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blok-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-2 {
  font-family: 'RocknRoll One', sans-serif;
  color: black;
}
.blok-3 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  background-color: pink;
}
.text {
  color: darkblue;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.hny {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  background-color: royalblue;
  width: 500px;
  height: 150px;
}
#parent {
  position: relative;
}
#child {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 50%;
  height: 30%;
  margin: auto;
}
.img {
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.vid {
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
